{% extends "inherit/base.html" %}
{% load static %}
{% block 'content' %}

<section class="inner-page blog-inner-page" id="blog-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>آموزش نصب قالب وردپرسی روبیک مارکت</h1>
                            <p>در این آموزش یاد میگیرید که چگونه قالب وردپرسی روبیک مارکت را نصب کنید.</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="./index.html">صفحه نخست</a></li>
                                    <li class="breadcrumb-item"><a href="./blog.html">بلاگ آموزشی</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">آموزش وردپرس</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-9">
                            <div class="row">
                                <div class="col-12">
                                    <div class="blog-container">
                                        <div class="row pt-2 px-3" id="post-title">
                                            <div class="col-12 col-md-8">
                                                <h1>آموزش نصب قالب وردپرسی روبیک مارکت</h1>
                                            </div>
                                            <div class="col-12 col-md-4 text-start text-md-end"><span class="date">ارسال شده در 22 تیر 1400</span></div>
                                        </div>
                                        <hr>
                                        <div class="row py-0 px-3" id="post-details">
                                            <div class="col-8">
                                                <span>دسته بندی: <a href="./blog.html">آموزش وردپرس</a></span>
                                            </div>
                                            <div class="col-4 text-end"><span>244 بازدید | 3 نظر</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 pt-2 text-justify" id="post-html">
                                                <div class="text-center pt-2 pb-3"><img src="{% static 'assets/images/blog/post100.jpg' %}" alt="آموزش نصب قالب وردپرسی روبیک مارکت"></div>
                                                <p>این یک متن آزمایشی است که به زودی توسط نویسنده این سایت، تکمیل یا حذف خواهد شد. اگر شما نویسنده‌ی این سایت هستید، برای حذف یا ویرایش این صفحه، کافی است از طریق مرکز مدیریت سایت خود وارد بخش مربوطه شده و محتوای این صفحه را ویرایش یا حذف کنید.</p>
                                                <p>صفحات و محتوای آزمایشی همیشه بخشی از محتوای پیش‌نمایش قالب و افزونه های وب هستند که شما بتوانید ارتباط درستی با پیش نمایش قالب گرفته و تصمیم مناسبی بگیرید. این صفحات معمولا برای اطلاعات کلی در مورد سایت مثل «درباره ما»، «تماس با ما»، «فهرست» یا «نظرات شما» مفید هستند.</p>
                                                <p>بنابراین نگران ویرایش و بروزرسانی محتوای این نوع صفحات نباشید. شما می‌توانید به سادگی و تنها با چند کلیک وارد ناحیه مدیریت وب‌سایت خود شده و مطلب مربوطه را ویرایش کنید.</p>
                                                <p>این یک متن آزمایشی است که به زودی توسط نویسنده این سایت، تکمیل یا حذف خواهد شد. اگر شما نویسنده‌ی این سایت هستید، برای حذف یا ویرایش این صفحه، کافی است از طریق مرکز مدیریت سایت خود وارد بخش مربوطه شده و محتوای این صفحه را ویرایش یا حذف کنید. بنابراین نگران ویرایش و بروزرسانی محتوای این نوع صفحات نباشید. شما می‌توانید به سادگی و تنها با چند کلیک وارد ناحیه مدیریت وب‌سایت خود شده و مطلب مربوطه را ویرایش کنید.</p>
                                                <p>این یک متن آزمایشی است که به زودی توسط نویسنده این سایت، تکمیل یا حذف خواهد شد. اگر شما نویسنده‌ی این سایت هستید، برای حذف یا ویرایش این صفحه، کافی است از طریق مرکز مدیریت سایت خود وارد بخش مربوطه شده و محتوای این صفحه را ویرایش یا حذف کنید.</p>
                                            </div>
                                            <div class="col-12">
                                                <hr>
                                                <div id="keywords">
                                                    <span>برچسب ها:</span>
                                                    <a href="#"><span class="keyword">وردپرس</span></a>
                                                    <a href="#"><span class="keyword">طراحی سایت</span></a>
                                                    <a href="#"><span class="keyword">قالب فروشگاهی</span></a>
                                                    <a href="#"><span class="keyword">روبیک مارکت</span></a>
                                                    <a href="#"><span class="keyword">قالب اختصاصی</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-3 pb-4 pb-lg-0">
                                            <div class="col-12" id="share-links">
                                                <span>به اشتراک بگذارید در:</span><br class="d-md-none">
                                                <a href="#" target="_blank"><span class="share-link"><img src="{% static 'assets/images/social/twitter.png' %}" alt="توئیتر" height="25px"> توئیتر</span></a>
                                                <a href="#" target="_blank"><span class="share-link"><img src="{% static 'assets/images/social/facebook.png' %}" alt="فیس بوک" height="25px"> فیس بوک</span></a>
                                                <a href="#" target="_blank"><span class="share-link"><img src="{% static 'assets/images/social/linkedin.png' %}" alt="لینکدین" height="25px"> لینکدین</span></a>
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- Comments -->
                                        <div class="row pt-3 pb-4 pb-lg-0">
                                            <div class="col-12 text-justify" id="comments">
                                                <h2>نظرات کاربران</h2>
                                                <div class="comments-container">
                                                    <div class="container px-0">
                                                        <div class="row">
                                                            <div class="col-12 pt-2">
                                                                <!-- Show Comments -->
                                                                <div class="comment p-3 my-2">
                                                                    <div class="sender-details">
                                                                        <div class="row">
                                                                            <div class="col-3 col-sm-2 col-md-1 pl-md-0 pl-lg-2 pl-xl-3">
                                                                                <img src="{% static 'assets/images/user-no-image.jpg' %}" alt="" class="rounded">
                                                                            </div>
                                                                            <div class="col-9 col-sm-10 col-md-11 pr-0 pr-md-2 pr-xl-0 pt-0 pt-lg-1">
                                                                                <div class="name">مصطفی کلانتری</div>
                                                                                <div class="date">ارسال شده در 18 تیر 1400</div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <p>این یک متن آزمایشی است که به زودی توسط نویسنده این سایت، تکمیل یا حذف خواهد شد. اگر شما نویسنده‌ی این سایت هستید، برای حذف یا ویرایش این صفحه، کافی است از طریق مرکز مدیریت سایت خود وارد بخش مربوطه شده و محتوای این صفحه را ویرایش یا حذف کنید.</p>
                                                                                <span class="reply"><img src="{% static 'assets/images/comment-reply.png' %}" alt=""> ارسال پاسخ</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Comment Reply -->
                                                                    <div class="row justify-content-end">
                                                                        <div class="col-11 pt-2 pr-0">
                                                                            <div class="comment p-3">
                                                                                <div class="sender-details">
                                                                                    <div class="row">
                                                                                        <div class="col-3 col-sm-2 col-md-1 pl-md-0 pl-lg-2 pl-xl-3">
                                                                                            <img src="{% static 'assets/images/user-no-image.jpg' %}" alt="" class="rounded">
                                                                                        </div>
                                                                                        <div class="col-9 col-sm-10 col-md-11 pr-0 pr-md-2 pr-xl-0 pt-0 pt-lg-1">
                                                                                            <div class="name">امین کیانی</div>
                                                                                            <div class="date">ارسال شده در 18 تیر 1400</div>
                                                                                        </div>
                                                                                        <div class="col-12">
                                                                                            <p>صفحات و محتوای آزمایشی همیشه بخشی از محتوای پیش‌نمایش قالب و افزونه های وب هستند که شما بتوانید ارتباط درستی با پیش نمایش قالب گرفته و تصمیم مناسبی بگیرید. این صفحات معمولا برای اطلاعات کلی در مورد سایت مثل «درباره ما»، «تماس با ما»، «فهرست» یا «نظرات شما» مفید هستند.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /Comment Reply -->
                                                                </div>
                                                                <!-- /Show Comments -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Send Comment Form -->
                                                <div class="comments-container">
                                                    <div class="row pt-4">
                                                        <div class="col-12"><h2>دیدگاه خود را ارسال کنید</h2></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 py-3">
                                                            <form>
                                                                <div id="send-comment-form">
                                                                    <p>نظر خود را برای این مطلب ارسال کنید. نشانی ایمیل شما منتشر نخواهد شد.</p>
                                                                    <div class="row">
                                                                        <div class="col-12 px-3 pl-md-1 col-md-6">
                                                                            <div class="form-group my-1">
                                                                                <input type="text" class="form-control" placeholder="* نام شما" required oninvalid="this.setCustomValidity('لطفا نام خود را وارد کنید')" oninput="setCustomValidity('')">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 px-3 pr-md-1 col-md-6">
                                                                            <div class="form-group my-1">
                                                                                <input type="email" class="form-control text-start" placeholder="پست الکترونیک *" required oninvalid="this.setCustomValidity('لطفا پست الکترونیک خود را وارد کنید')" oninput="setCustomValidity('')">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 px-3">
                                                                            <div class="form-group my-1">
                                                                                <textarea class="form-control" id="" rows="4" placeholder="متن دیدگاه"></textarea>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="form-group my-1">
                                                                                <input type="submit" value="ارسال دیدگاه" class="btn btn-success px-5">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Send Comment Form -->
                                            </div>
                                        </div>
                                        <!-- /Comments -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="row">
                                <!-- Side Panel -->
                                <div class="col-12 col-sm-6 col-lg-12 px-lg-2">
                                    <div class="blog-side-panel">
                                        <div class="row pt-2 px-3">
                                            <div class="col"><div class="title">پربازدیدترین محصولات</div></div>
                                        </div>
                                        <hr>
                                        <div class="container">
                                            <div class="row">
                                                <!-- Side Panel Product -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <a href="./product.html">
                                                        <div class="side-blog-product">
                                                            <div class="row pl-3">
                                                                <div class="col-4 pl-2">
                                                                    <div class="image" style="background-image: url({% static 'assets/images/products/p100.png' %})"></div>
                                                                </div>
                                                                <div class="col-8 px-0">
                                                                    <h2>گوشی موبایل سامسونگ مدل Galaxy A51 دو سیم کارت</h2>
                                                                    <div class="row">
                                                                        <div class="col-8 pl-0">
                                                                            <span class="price">3.200.000 تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- /Side Panel Product -->
                                                <!-- Side Panel Product -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <a href="./product.html">
                                                        <div class="side-blog-product">
                                                            <div class="row pl-3">
                                                                <div class="col-4 pl-2">
                                                                    <div class="image" style="background-image: url({% static 'assets/images/products/p200.png' %})"></div>
                                                                </div>
                                                                <div class="col-8 px-0">
                                                                    <h2>لپ تاپ 15 اینچی ایسوس مدل VivoBook X543MA-DM905</h2>
                                                                    <div class="row">
                                                                        <div class="col-8 pl-0">
                                                                            <span class="price">3.200.000 تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- /Side Panel Product -->
                                                <!-- Side Panel Product -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <a href="./product.html">
                                                        <div class="side-blog-product">
                                                            <div class="row pl-3">
                                                                <div class="col-4 pl-2">
                                                                    <div class="image" style="background-image: url({% static 'assets/images/products/p300.png' %})"></div>
                                                                </div>
                                                                <div class="col-8 px-0">
                                                                    <h2>هدفون بی سیم سامسونگ مدل Galaxy Buds Live</h2>
                                                                    <div class="row">
                                                                        <div class="col-8 pl-0">
                                                                            <span class="price">3.200.000 تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- /Side Panel Product -->
                                                <!-- Side Panel Product -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <a href="./product.html">
                                                        <div class="side-blog-product">
                                                            <div class="row pl-3">
                                                                <div class="col-4 pl-2">
                                                                    <div class="image" style="background-image: url({% static 'assets/images/products/p400.png' %})"></div>
                                                                </div>
                                                                <div class="col-8 px-0">
                                                                    <h2>دوربین دیجیتال کانن مدل EOS 2000D به همراه لنز 18-55 میلی متر</h2>
                                                                    <div class="row">
                                                                        <div class="col-8 pl-0">
                                                                            <span class="price">3.200.000 تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- /Side Panel Product -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-12 px-lg-2">
                                    <div class="blog-side-panel">
                                        <div class="row pt-4 pt-sm-2 px-3">
                                            <div class="col"><div class="title">پربازدیدترین مطالب</div></div>
                                        </div>
                                        <hr>
                                        <div class="container">
                                            <div class="row">
                                                <!-- Side Panel Post -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <div class="side-blog-post">
                                                        <div class="row pl-3">
                                                            <div class="col-4 pl-2">
                                                                <a href="./blog-post.html"><div class="image" style="background-image: url({% static 'assets/images/blog/post100.jpg' %})"></div></a>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                <a href="./blog-post.html"><h2>بررسی آیفون 12 پرو مکس اپل</h2></a>
                                                                <div class="row">
                                                                    <div class="col-12 col-xl-6 pl-0">
                                                                        <span class="category">دسته بندی: <a href="./blog.html">اخبار</a></span>
                                                                    </div>
                                                                    <div class="col-12 col-xl-6 pr-0 text-start text-xl-end d-none d-xl-block">
                                                                        <span class="date">30 خرداد 1400</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Side Panel Post -->
                                                <!-- Side Panel Post -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <div class="side-blog-post">
                                                        <div class="row pl-3">
                                                            <div class="col-4 pl-2">
                                                                <a href="./blog-post.html"><div class="image" style="background-image: url({% static 'assets/images/blog/post101.jpg' %})"></div></a>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                <a href="./blog-post.html"><h2>سامسونگ گلکسی S21 اولترا 5G</h2></a>
                                                                <div class="row">
                                                                    <div class="col-12 col-xl-6 pl-0">
                                                                        <span class="category">دسته بندی: <a href="./blog.html">اخبار</a></span>
                                                                    </div>
                                                                    <div class="col-12 col-xl-6 pr-0 text-start text-xl-end d-none d-xl-block">
                                                                        <span class="date">30 خرداد 1400</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Side Panel Post -->
                                                <!-- Side Panel Post -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <div class="side-blog-post">
                                                        <div class="row pl-3">
                                                            <div class="col-4 pl-2">
                                                                <a href="./blog-post.html"><div class="image" style="background-image: url({% static 'assets/images/blog/post102.jpg' %})"></div></a>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                <a href="./blog-post.html"><h2>دریافت گواهی بلوتوث گلکسی A03s سامسونگ</h2></a>
                                                                <div class="row">
                                                                    <div class="col-12 col-xl-6 pl-0">
                                                                        <span class="category">دسته بندی: <a href="./blog.html">اخبار</a></span>
                                                                    </div>
                                                                    <div class="col-12 col-xl-6 pr-0 text-start text-xl-end d-none d-xl-block">
                                                                        <span class="date">30 خرداد 1400</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Side Panel Post -->
                                                <!-- Side Panel Post -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <div class="side-blog-post">
                                                        <div class="row pl-3">
                                                            <div class="col-4 pl-2">
                                                                <a href="./blog-post.html"><div class="image" style="background-image: url({% static 'assets/images/blog/post103.jpg' %})"></div></a>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                <a href="./blog-post.html"><h2>خرابی نمایشگرهای سری گلکسی S20</h2></a>
                                                                <div class="row">
                                                                    <div class="col-12 col-xl-6 pl-0">
                                                                        <span class="category">دسته بندی: <a href="./blog.html">اخبار</a></span>
                                                                    </div>
                                                                    <div class="col-12 col-xl-6 pr-0 text-start text-xl-end d-none d-xl-block">
                                                                        <span class="date">30 خرداد 1400</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Side Panel Post -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Side Panel -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock 'content' %}
